<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil de {{ user.username }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/global.css' %}">
    <link rel="stylesheet" href="{% static 'styles/perfil.css' %}">
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

</head>
<body>
    <div class="containerr">
        <div class='lateral'>
            <ul>
                <li ><img src="{% static 'images/twitter-x-white-logopng.webp' %}" class='image-logo' alt="Descrição da imagem"></li>
                <li class='list-content'>
                    <span class="material-symbols-outlined">home</span>
                    <a href="/home/">Pagina Inicial</a>
                </li>
                <li class='list-content'>
                    <span class="material-symbols-outlined">
                        search
                        </span>
                    Explorar
                </li>
                <li class='list-content'>
                    <span class="material-symbols-outlined">
                        notifications
                        </span>
                    Notificações
                </li>
                <li class='list-content'>
                    <span class="material-symbols-outlined">
                        mail
                        </span>
                    Mensagens</li>
                <li class='list-content'>
                    <span class="material-symbols-outlined">
                        group
                        </span>
                    Comunidades</li>
                <li class='list-content'>
                    <span class="material-symbols-outlined">
                        person
                    </span>
                    <a href="#">Perfil</a>
                </li>
                <li class='list-content'>
                    <div class="dropdown">
                        <div class='more'>
                            <span class="material-symbols-outlined">
                                more
                            </span>
                            <span class='dropdownButton' id="dropdownButton"> Mais</span>
                        </div>

                        <div id="dropdownMenu" class="dropdown-content">
                            <ul class='ul-drop'>
                                <li class='li-drop'>
                                    <span class="material-symbols-outlined">
                                        list
                                    </span>
                                    Listas
                                </li>
                                <li class='li-drop'>
                                    <span class="material-symbols-outlined">
                                        bookmark
                                    </span>
                                    Itens Salvos
                                </li>
                                <li class='li-drop'>
                                    <span class="material-symbols-outlined">
                                        payments
                                    </span>
                                    Monetização
                                </li>
                                <li class='li-drop'>
                                    <span class="material-symbols-outlined">
                                        stylus_laser_pointer
                                    </span>
                                    Empresas
                                </li>
                                <li class='li-drop'>
                                    <span class="material-symbols-outlined">
                                        ads_click
                                    </span>
                                    Ads
                                </li>
                                <li class='li-drop'>
                                    <span class="material-symbols-outlined">
                                        business_center
                                    </span>
                                    Empregos
                                </li>
                                <li class='li-drop'>
                                    <span class="material-symbols-outlined">
                                        manufacturing
                                    </span>
                                    <a href="/perfil/">Configurações</a>
                                </li>
                            </ul>
                        </div>
                      </div>
                </li>
                <li><button class='btn-postar-1'>postar</button></li>
                <li class='list-content'>
                    <span class="material-symbols-outlined">
                        person
                    </span>
                    {{ request.user.username }}
                </li>
            </ul>
        </div>
        <div class='main'>
                <div class='perfil-name'>
                    <a href="/home/">
                        <span class="material-symbols-outlined span-right">
                            arrow_back
                        </span>
                    </a>
                    <div class='perfil-name-post'>
                        <h2>{{ request.user.username }}</h2>
                        <p>{{ posts_count }} post</p>
                    </div>
                </div>
            
            <div class='header-perfil'>

                {% if user.profile.cover_image %}
                    <img src="{{ user.profile.cover_image.url }}" alt="Imagem de Capa" class='capa'>
                {% else %}
                    <p>Você ainda não tem uma imagem de capa.</p>
                {% endif %}
                <div class='container-perfil'>
                    {% if user.profile.profile_image %}
                        <img src="{{ user.profile.profile_image }}" alt="Imagem de Perfil" class='perfil'>
                    {% else %}
                        <img src="{% static 'default-profile-image.jpg' %}" alt="Imagem de Perfil Padrão">
                    {% endif %}
                </div>
                
                <div>
                    <div class='user-content'>
                        <h2>{{ request.user.username }}</h2>
                    </div>

                    <ul class='ul-perfil'>
                        <li> Posts</li>
                        <li> Respostas</li>
                        <li> Destaques</li>
                        <li> Artigos</li>
                        <li> Midia</li>
                        <li> Curtidas</li>
                    </ul>

                </div>
            </div>
              <!-- Atualizar Imagens -->
             
            <ul class='ul-post'>
                {% if posts %}
                    {% for post in posts %}
                        <li class='list-post'>
                            <div class='header-profile'>
                                {% if user.profile.profile_image %}
                                    <img class='profile-img' src="{{ user.profile.profile_image }}" alt="Imagem de Perfil">
                                {% else %}
                                    <span class="material-symbols-outlined">person</span>
                                {% endif %}
                                <a href="/profile/{{ post.user }}/" class='user-link'> {{ post.user }} <span class='post-email'> {{ post.user_email }}</span> </a>
                            </div>
            
                            <p class='post-content'>{{ post.content }}</p>
                            
                            {% if post.image %}
                                <img src="{{ post.image }}" alt="Imagem do Post" class='post-image'>
                            {% endif %}
                            
                            <div>
                                <div class='like-comment'>
                                    <button class="like-button {% if post.is_liked_by_user %}liked{% endif %}" data-post-id="{{ post.id }}">
                                        {% if post.is_liked_by_user %}
                                        Curtido {{ post.likes_count }}
                                        {% else %}
                                        Curtir {{ post.likes_count }}
                                        {% endif %}
                                    </button>
                                    <form method="POST" action="{% url 'comment_post' post.id %}">
                                        {% csrf_token %}
                                        <textarea name="content" placeholder="Escreva um comentário..." class='text-area'></textarea>
                                        <button type="submit" class='comment-submit'>Comentar</button>
                                    </form>
                                </div>
            
                                <ul class='comments'>
                                    {% for comment in post.comments.all %}
                                        <li class='comments-li'>{{ comment.user }}: {{ comment.content }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            
                        </li>
                    {% endfor %}
                {% else %}
                    <li>Nenhum post encontrado.</li>
                {% endif %}
            </ul>
           
        
            <p>Quantidade de posts: {{ posts|length }}</p> 
        </div>
        <div class='right'>
            <input placeholder='buscar'/ class='buscar-input'>
            <div class='right-premium'>
                <h2>Assine o Premium
                </h2>
                <p>
                    Assine para desbloquear novos recursos e, se elegível, receba uma parte da receita.
                </p>
                <button> Inscrever-se</button>
            </div>

            <div class='right-premium'>
                <h2>O que esta acontecendo</h2>
                <div class='content-present'>
                    <span class='content-span'>Assunto do momento em Brasil</span>
                    <p>Sisu</p>
                    <span class='content-span'>24 mil post</span>
                </div>
                <div class='content-present'>
                    <span class='content-span'>Assunto do momento em Brasil</span>
                    <p>super urach</p>
                    <span class='content-span'>10 mil post</span>
                </div>
                <div class='content-present'>
                    <span class='content-span'>Assunto do momento em Brasil</span>
                    <p>Iphone</p>
                    <span class='content-span'>10 mil post</span>
                </div>
            </div>

            <div class='right-premium'>
                <h2>Quem seguir</h2>
                {% for suggestion in suggestions %}
                <div class='right-person'>
                    <p>{{ suggestion.username }}</p>
                    <form method="POST" action="{% url 'follow_user' suggestion.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn-follow">Seguir</button>
                    </form>
                </div>                
                {% empty %}
                    <p>Sem sugestões de usuários no momento.</p>
                {% endfor %}
            </div>
        </div>
        


        
    </div>

    <script src="{% static 'js/like.js' %}"></script>
    <script src="{% static 'js/action.js' %}"></script>
</body>
</html>