.dropdown-content {
    display: none; /* Escondido por padrão */
    background-color: black;
    position: absolute;
    top: 0px;
    left: 20px;
    height: 400px;
    width: 400px;
    box-shadow: 0px 8px 16px rgba(255, 255, 255, 0.801);
    z-index: 3;
    border-radius: 10px;
  }
.show {
    display: block; /* Mostra o menu */
}
.dropdown > .dropdownButton{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 15px;
}

.ul-drop{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.li-drop{
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: auto 0;
    height: 40px;
    width: 100%;
    border-radius: 20px;
    padding-left: 15px;
    transition: 0.3s;
    cursor: pointer;
}
.li-drop:hover{
    background-color: #7a7a7a;
}
.image-upload-input{
    display: none;
}
.material-symbols-outlined{
    cursor: pointer;
}
.containerr{
    display: flex;
    justify-content: space-between;
    height: 150vh;
    flex-wrap: wrap;
}
.error-li ,.red{
    color: red;
}
.red{
    font-size: 60px;
}
.post-image{
    text-align: center;
    width: 100%px;
    padding: 20px;
}
.user-link{
    list-style: none;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: capitalize;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    width: 50%;
    /* height: 100vh; */
    /* padding-left: 10px;
    padding-right: 10px; */
    border-left: 1px solid #7a7a7a;
    border-right: 1px solid #7a7a7a;
}
.main-groups{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #7a7a7a;
    width: 100%; 
    justify-content: flex-start;
    padding-bottom: 20px;
}
.main-groups > p{
    margin-right: 15px;
    margin-left: 5px;
}
.post-user{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #7a7a7a;
    /* align-items:flex-start; */
    width: 100%;
}
.btn-postar{
    width: 20%;
    height: 30px;
    border: none;
    background-color: #555555;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
.btn-postar:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid black;
}
.btn-postar-1{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.div-btn{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
h2{
    padding-top: 20px;
    margin-bottom: 20px;
}
.text-area-input{
    width: 100%;
    border: none;
    resize: none;
    padding: 10px;
}
.image-logo{
    width: 30px;
    margin-left: 15px;
}
.lateral{
    width: 20%;
    padding-left: 30px;
    padding-right: 10px;
}
.right{
    width: 20%;
}
.list-content{
    text-align: start;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: auto 0;
    height: 40px;
    width: 100%;
    border-radius: 20px;
    padding-left: 15px;
    transition: 0.3s;
    cursor: pointer;
}
.list-content:hover{
    background-color: rgba(240, 248, 255, 0.185);
}
.right{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
}
.buscar-input{
    width: 100%;
    height: 50px;
    border-radius: 20px;
    padding-left: 20px;
    border: 1px solid #555555;
    margin-top: 20px;
}
.right-premium{
    color: #555555;
    border: 1px solid #555555;
    padding: 10px;
    border-radius: 20px;
    text-align: start;
    margin-top: 20px;
}
.right-premium > button{
    border: none;
    background-color: rgb(29, 155, 240);
    height: 40px;
    border-radius: 20px;
    font-size: 15px;
    color: white;
    padding: 3px;
    margin-top: 10px;
}
.content-present{
    width: 100%;
    margin-bottom: 20px;
}
.content-span{
    font-size: 12px;
}
.right-person{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}
.right-person > button{
    border: none;
    background-color: white;
    color: black;
    border-radius: 20px;
    height: 30px;
    width: 60px;
    font-weight: bold;
}
.list-post{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 100%;
    border-bottom: 1px solid #555555;
    
    /* background-color: rgb(54, 54, 54); */

}
.like-button{
    width: 100px;
    background-color: rgb(0, 110, 255);
    border: none;
    color: white;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}
.like-comment{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}
.comment-submit{
    width: 100px;
    background-color: rgba(201, 43, 43, 0.692);
    border: none;
    color: white;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}
.text-area{
    width: 300px; /* Largura fixa */
    height: 20px; /* Altura fixa */
    resize: none; /* Impede redimensionamento */
    outline: none; /* Remove o contorno ao focar */
    border: none;
    border-bottom: 1px solid #555555;
}
.ul-post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
    /* background-color: rgb(255, 255, 255); */
    width: 100%;
}
.post-content{
    margin-bottom: 10px;
    margin-left: 20px;
    color: white;
    text-transform: uppercase;
}
.post-email{
    font-size: 10px;
    color: #7a7a7a;
}
.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;

}
.header-profile{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
.btn-editar, .btn-deletar{
    border: none;
    height: 30px;
    border-radius: 10px;
    margin-top: 7px;
    
}
.btn-editar{
    text-decoration: underline;
    margin-right: 10px;
    width: 100px;
    cursor: pointer;
}
.btn-editar:hover{
    color: rgb(88, 88, 255);
}
.btn-deletar{
    text-decoration: underline;
    width: 100px;
    cursor: pointer;
}
.btn-deletar:hover{
    color: rgb(88, 88, 255);
}
.btn-e-btn-d{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-bottom: 20px;
}
.comments{
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.comments-li{
    font-size: 10px;
    color: rgb(43, 255, 255);
    text-transform: capitalize;
}
@media (max-width: 1000px) {
    .containerr{
        display: flex;
        justify-content: space-between;
        height: 150vh;
        flex-wrap: wrap;
    }
    .image-logo{
        width: 30px;
        margin-left: 15px;
    }
    .lateral{
        width: 20%;
    }
    .right{
        display: none;
    }
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        width: 80%;
    }
    .list-content{
        font-size: 25px;
        margin-bottom: 20px;
        height: 40px;
        width: 100%;
        border-radius: 20px;
        padding-left: 0px;
        padding-top: 10px;
        text-align: center;
        transition: 0.3s;
        cursor: pointer;
    }
    .main-groups > p{
        font-size: 25px;
    }
    .text-area-input{
        font-size: 25px;
    }
}